# Ignore configuration files that may contain sensitive information.
sites/**/*settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

tmp
*.swp
error_log

# Ignore everything but the "sites" folder ( for non core developer )
.htaccess


.idea
