/**
* These rule apply only to <front> or /home page ~hoa
**/

.front h2, .front .h2 {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}
.front .centered745px-txt p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 745px;
}