@font-face {
    font-family: 'BebasRegular';

    src: url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
        url('../fonts/IstokWeb-Italic.ttf') format('truetype'),
        url('../fonts/IstokWeb-BoldItalic.ttf') format('truetype'),
        url('../fonts/IstokWeb-Bold.ttf') format('truetype');
}
/**
*
* These rule apply only to MENU of <front> or /home page ~hoa
**/

/**
*
* These rule apply only to <front> or /home page ~hoa
**/
body.front {
    font-family: "Frutiger", "IstokWeb", Arial,Helvetica Neue,Helvetica,sans-serif;
}
.front h2, .front .h2,
.front h3, .front .h3,
.front h4, .front .h4 {
    font-family: "Frutiger", "IstokWeb", Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
}
.front h2, .front .h2 {
    padding-top: 30px;
    font-size: 35px;
    color: #428BCA;
}
.centered870px-txt{
    width: 870px;
    margin-left: auto;
    margin-right: auto;
}
.front .text-center  h3, .front .tri-sec .h3 {
    padding-top: 20px;
    font-size: 20px;

}

.front .infrastruktur-sec span.green img {
    background: none repeat scroll 0% 0% #BED431;
    box-shadow: 0px 0px 0px 2px #BED431;
    overflow: hidden;
}

.front .infrastruktur-sec img.open {
    width: 99px;
    height: 99px;
    margin: 30px 0px 0px;
    transition: all 1000ms ease 0s;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.front .infrastruktur-sec h4 {
    background: url("../images/service-sec-shadow.png") no-repeat scroll center 0px transparent;
    padding-top: 30px;
    font-weight: 400;
    border: 0px none;
    text-transform: uppercase;
    margin: 10px 0px 15px;
    color: #393939;
    font-family: "Open Sans",sans-serif;
}


/**
*
* Veranstaltungen Sektion
*
**/


.front .views-field-field-veranstaltungen-datum .field-content,
.front .views-field-field-veranstaltungen-kosten .field-content {
    display: inline;
    padding-left: 60px;

}


.front .views-field-field-veranstaltungen-datum .views-label,
.front .views-field-field-veranstaltungen-kosten .views-label,
.front .views-field-field-veranstaltungen-info .views-label{
    font-weight: bold;
}

/**
*
* TABLE id=PREISE
*
**/

#preise {

    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 1.2rem;
}
#preisetabelle-caption{

}
#preise caption {
    padding: 0 0 5px 0;
    font: italic Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: right;
}

#preise th {
    font: bold 1.2rem bold Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #4f6b72;
    border-bottom: 1px solid #c1dad7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
}

#preise th[scope=col] {
    background-color: rgba(186, 185, 160, 0.50);
    text-align: center;
}
tr:nth-child(odd) {
    background: #FFF
}
#preise tr:nth-child(even) {
    background: #f6f9e5
}

#preise td {

    font: 1.5rem Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #4f6b72;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    padding: 6px 6px 6px 12px;
}

/**
*
* Kontakt section on <front>
*
**/

#kontaktContainter {
    width: 430px;
    margin-left: auto;
    margin-right:auto;
    overflow: hidden;

}
 #adresseCol {
   float: left;
     text-align: right;
}
#kontaktCol {
   float: right;
    text-align: left;
}