@font-face {
    font-family: 'BebasRegular';

    src: url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
        url('../fonts/IstokWeb-Italic.ttf') format('truetype'),
        url('../fonts/IstokWeb-BoldItalic.ttf') format('truetype'),
        url('../fonts/IstokWeb-Bold.ttf') format('truetype');
}


/** ============== MAIN MENU ========================== **/

.navbar-default .main-navigation .menu > li > a {
    font-weight: 900;
    font-size: 120%;

}

/** overwriten menu home tab with bordeux, original rockxo: #60cae8 **/

.main-navigation .menu > li:nth-child(1) > a {
    border-top: 4px solid #5F021F;
}

.main-navigation .menu > li:nth-child(1) > a,
.main-navigation .menu > li:nth-child(1) > a:visited {
    color: #777;
}
.main-navigation .menu > li:nth-child(1) > a:hover,
.main-navigation .menu > li:nth-child(1) > a:active {
   color :  #5F021F;

}


/** overwriten menu veranstaltungen tab with #60cae8 (light ocean blue), original rockox: #c6c6c6 **/

.main-navigation .menu > li:nth-child(5) > a {
    border-top: 4px solid #60cae8;
}

.main-navigation .menu > li:nth-child(5) > a,
.main-navigation .menu > li:nth-child(5) > a:visited {
    color: #777;
}
.main-navigation .menu > li:nth-child(5) > a:hover,
.main-navigation .menu > li:nth-child(5) > a:active {
    color :  #60cae8;

}
/** ============== TITLES OF SECTIONS ========================== **/



#nutzungsmöglichkeiten h2 a{  color:#BED431 ;  }
#impressionen h2{  color:#E21E25 ;  }
#preisetabelle h2 a {  color:#F6C815 ;  }
#veranstaltungen h2 { color: #60cae8; }
#kontakt h2 a{ color: #7251a2; }


/** ============== SECTION HOME ========================== **/
#home h2 a {color: #5F021F; }
#home p {
    font-size: 17px;
}

/** ============== SECTION NUTZUNGMOELICKEITEN ========================== **/
#nutzungsmöglichkeiten p.centered870px-txt {
    margin-bottom: 26px;
}


/** ============== SECTION INFRASTRUKTUR ========================== **/



.front .infrastruktur-sec span.green img {
    background: none repeat scroll 0% 0% #BED431;
    box-shadow: 0px 0px 0px 2px #BED431;
    overflow: hidden;
}

.front .infrastruktur-sec img.open {
    width: 175px;
    height: 175px;
    margin: 30px 0px 0px;
    transition: all 1000ms ease 0s;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.front .infrastruktur-sec h4 {
    background: url("../images/service-sec-shadow.png") no-repeat scroll center 0px transparent;
    padding-top: 30px;
    font-weight: 400;
    border: 0px none;
    text-transform: uppercase;
    margin: 10px 0px 15px;
    color: #393939;
    font-family: "Open Sans",sans-serif;
}

/**
*
* These rule apply only to <front> or /home page ~hoa
**/
body.front {
    font-family: "Frutiger", "IstokWeb", Arial,Helvetica Neue,Helvetica,sans-serif;
}
.front h2, .front .h2,
.front h3, .front .h3,
.front h4, .front .h4 {
    font-family: "Frutiger", "IstokWeb", Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
}
.front h2, .front .h2 {
    padding-top: 30px;
    font-size: 35px;
}
.centered870px-txt{
    width: 870px;
    margin-left: auto;
    margin-right: auto;
}
.front .text-center  h3, .front .tri-sec .h3 {
    padding-top: 20px;
    font-size: 20px;

}


/**
*
* Veranstaltungen Sektion
*
**/


.front .views-field-field-veranstaltungen-datum .field-content,
.front .views-field-field-veranstaltungen-kosten .field-content {
    display: inline;
    padding-left: 60px;

}


.front .views-field-field-veranstaltungen-datum .views-label,
.front .views-field-field-veranstaltungen-kosten .views-label,
.front .views-field-field-veranstaltungen-info .views-label{
    font-weight: bold;
}

/**
*
* TABLE id=PREISE
*
**/

#preise {

    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 1.2rem;
}
#preisetabelle-caption{

}
#preise caption {
    padding: 0 0 5px 0;
    font: italic Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: right;
}

#preise th {
    font: bold 1.2rem bold Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #4f6b72;
    border-bottom: 1px solid #c1dad7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
}

#preise th[scope=col] {
    background-color: rgba(186, 185, 160, 0.50);
    text-align: center;
}
tr:nth-child(odd) {
    background: #FFF
}
#preise tr:nth-child(even) {
    background: #f6f9e5
}

#preise td {

    font: 1.5rem Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #4f6b72;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    padding: 6px 6px 6px 12px;
}

/**
*
* Kontakt section on <front>
*
**/

#kontaktContainter {
    width: 430px;
    margin-left: auto;
    margin-right:auto;
    overflow: hidden;

}
 #adresseCol {
   float: left;
     text-align: right;
}
#kontaktCol {
   float: right;
    text-align: left;
}